<div>
    <form class="form-horizontal" name="editItemForm" novalidate>
        <h1 ng-if="::vmEdit.isEditMode">Edit item</h1>
        <h1 ng-if="::!vmEdit.isEditMode">Create new item</h1>
        
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" ng-model="vmEdit.item.title" required>
            </div>
        </div>
        
        <div class="form-group">
            <label for="prop1" class="col-sm-2 control-label">Value #1</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="prop1" ng-model="vmEdit.item.prop1" required>
            </div>
        </div>
        
        <div class="form-group">
            <label for="prop2" class="col-sm-2 control-label">Value #2</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="prop2" ng-model="vmEdit.item.prop2" required>
            </div>
        </div>
        
        <div class="form-group">
            <label for="prop3" class="col-sm-2 control-label">Value #2</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="prop3" ng-model="vmEdit.item.prop3" required>
            </div>
        </div>
        
        <div class="text-right">
            <button type="button" class="btn btn-default" ng-if="::vmEdit.isEditMode">
                Delete
            </button>
            
            <button type="submit" class="btn btn-default" ng-click="vmEdit.save()">Save changes</button>
            
            <button type="button" class="btn btn-default" ng-class="{disabled: editItemForm.$pristine}" ng-click="vmEdit.resetChanges()" ng-if="::vmEdit.isEditMode">
                Reset changes
            </button>
            
            <button type="button" class="btn btn-default" ui-sref="items.table">Cancel</button>
        </div>
    </form>
</div>
